@import './colors.scss';

body {
  font-family: 'Ubuntu', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $background;
}

.container {
  margin: 80px auto 0;
  max-width: 1200px;
}

a {
  text-decoration: none;
}
