@import './colors.scss';

body {
  font-family: 'Ubuntu', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $background;
}

.container {
  margin: 80px auto 0;
  max-width: 1200px;
}

a {
  text-decoration: none;
}

.form {
  text-align: center;
}

.logoImage {
  width: 190px;
  height: 190px;
  margin: 20px auto !important;
}

.nav-container svg {
  color: #fff;
}

.textField {
  margin: 2.5px 0 !important;
}

.button {
  margin: 20px auto !important;
  position: relative !important;
}

.customError {
  margin-top: 10px !important;
  color: red;
  font-size: 14px !important;
}

.progress {
  position: absolute;
}
