.invisibleSeparator {
  border: none !important;
  margin: 4px;
}
.profileImage {
  max-width: 200px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover !important;
}
.MuiGrid-spacing-xs-8 {
    width: auto !important;
    margin: 0 !important;
}
.closeButton {
  position: absolute !important;
  left: 90%;
}
